
html {
    scroll-behavior: smooth;
  }

  body{
    background-color: #fff;
  }

  a{
    text-decoration: none;
  }

  .wpp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    font-size: 40px;
    border-radius: 50%;
    padding: 5px 10px;
  }

  .wpp:hover{
    background-color: #fff;
    border: 2px solid #000;
  }
/***********MENU**************/
nav{
    display: flex;
    background-color: transparent;
    position: fixed;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    z-index: 200;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

nav .logo{
    height: 10vh;
    padding: 10px 25px 10px 20px;
}

nav .logo img{
    height: 100%;
}

.nav-scroll{
    background-color: #000;
    position: fixed;
}

.btns{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.btns div{
    margin: 20px;
    padding: 10px;
}

.btns div a{
    color: #fff;
}

.btns div:hover{
    background-color: #f00;
}

body > nav > div:nth-child(1){
    display: flex;
}
body > nav > div:nth-child(1) > div:nth-child(2){
    display:flex;
    align-items: center;
    color: #f00;
    font-family: sans-serif;
    font-size: 22px;
}

.btn-menu{
    display: none;
}

/***********INICIO**************/

.inicio{
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.inicio img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.inicio .frase{
    position: absolute;
    color: #fff;
    bottom: 40%;
    font-size: 30px;
}

.inicio .btn-scroll{
    position: absolute;
    bottom: 30%;
    background-color: #f00;
    padding: 10px;
    letter-spacing: 1px;
}

.inicio .btn-scroll a{
    color:#fff;
}

/***********NOSOTROS**************/
.nosotros{
    background-color: #fff;
    padding-top: 10vh;
}

.seccion{
    background-color: #f00;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 7px;
}

.nosotros .galeria{
    display: flex;
    flex-direction: column;
    margin: 20px 10% 0;
}


.muestra img{
    float: right;
    width: 50%;
    margin: 5px 0 5px 10px;
}

.muestra{
    font-size: 20px;
    width: 100%;
}

/*
.fotos{
    display: flex;
    width:100%;
    height: 700px;
    flex-wrap: wrap;
}

.fotos div{
    margin: 10px;
    width: 300px;
    height: 300px;
}

.fotos div img{
    object-fit: cover;
}*/

.fotos{
    margin: 40px 0 40px 0;
    display:grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(100px, 200px));
    /*grid-auto-rows: 300px;*/
    grid-gap: 15px;
    background-color: #666;
    grid-auto-flow: dense;
}

.fotos div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fotos div img:hover{
    transform: scale(1.2);
    border: 2px solid #f00;
}

.fotos div:nth-child(3){
    grid-column: 1 / span 3;
}

/************PREGUNTAS******************/
.preguntas{
    margin:0;
    background-color: #fff;
    padding-bottom: 200px;
    padding-top: 10vh;
}

.preguntas__div{
    margin: 10px 10%;
    display: flex;
    flex-direction: column;
}

.pregunta{
    margin-top: 20px;
}

.pregunta div:first-child{
    display: flex;
    align-items: center;
}

.pregunta div:first-child h3{
    margin-right: 10px;
}

.btn-pregunta:hover{
    color:#f00;
}


.rta{
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.rta-visible{
    max-height: 100px;
}
/************+CONTACTO********/
.contacto{
    padding: 10vh 0 5%;
    display: flex;
    background-color: #000;
    flex-direction: column;
}

.contacto h2{
    color:#fff;
    font-size: 42px;
   text-align: center;
   padding-bottom: 5%;
}

.contacto > div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacto > div > div:nth-child(2){
    color:#fff;
    font-size: 20px;
    width: auto;
}

.iconos{
    color: #000;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.iconos > i{
    background-color: #666;
    border-radius: 50%;
    padding: 10px;
}

.iconos > i:hover{
    background-color: #fff;
}

.horarios{
    padding: 15% 0;
    color:#fff;
    font-size: 20px;
}

/**************************************responsive***********************/
@media screen and (max-width: 840px){
    .contacto > div > div:nth-child(2){
        margin-top: 20px;
    }

    .mapa{
        width: 80%;
    }

    iframe{
        width: 100%;
    }

    body > nav > div:nth-child(1) > div:nth-child(2){
        display: none;
    }

    
}

@media screen and (max-width: 620px){

    nav{
        flex-wrap: wrap;
    }
    .btn-menu{
        display:flex;
        font-size: 60px;
        margin-right: 5%;
        align-items: center;
        color: #aaa;
        height: 100%;
    }

    .btns{
        width: 100vw;
        flex-direction: column;
        background-color: #000;
        height: 100%;
        position: fixed;
        left: -110%;
        top: 10%;
        transition: left 1s;
        justify-content: flex-start;
    }

    .btns > div{
        margin: 0;
        height: 120px;
        width: 100%;
        justify-content: center;
        display: flex;
        border-bottom: 2px solid #666;
        font-size: 22px;
        position: relative;
    }

    .btns > div a{
        font-size: 18px;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open{
        left:0;
    }

    /****NOSOTROS****/
    .muestra img{
        width: 100%;
    }

    iframe{
        height: 250px;
    }

}






