:root{
    --color-naranja: #ef2219;
    --color-gris: #acb8b4;
}

header{
    display:flex;
    height: 90px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15%;
}

.menu-mobile{
    display: none;
}

.div-img{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.div-img img{
    height: 70px;
}
.menu{
    display: flex;
}
.menu__ul{
    list-style: none;
    display: flex;
}

.menu__ul_li{
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.menu__ul_li:hover{
    color: var(--color-naranja);
    transform: scale(1.1);
}

/*--------------1100 px----------------*/

@media screen and (max-width: 1100px) {
    
    header{
        padding: 0 8%;
    }
}

@media  screen and (max-width: 900px) {
    /*menu responsive*/
    .menu{
        display: none;
    }

    header{
        justify-content: center;
    }
    .div-img{
        margin:0;
    }


    .menu-mobile{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 90px;
    }

    .menu__ul{
        flex-direction: column;
    }

    .menu__ul_li{
        padding: 25px;
        transition: transform .6s;
    }

    .menu__ul_li:hover{
        transform: translateX(20px);
    }

    .icono{
        position:fixed;
        top: 20px;
        left: 20px;
        font-size: 30px;
    }
}
