.contenedor{
    width: 100%;
    height: 400px;
    display: block;
    font-size: 0;/*para eliminar espacios*/
    position: relative;
    top: 20px;
    left: 20px;
    background: #444;
}

.caja1, .caja2, .caja3, .caja4{
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 24px;
}

.caja1{
    background: #aaa;
    top: 200px;
    position: inherit;
}

.caja2{
    background: #f34;
    position: absolute;
    opacity: 0.8;
    top: 20px;
}

.caja3{
    background: #3f4;
}

.caja4{
    background: #42f;
}

.contenedor-fixed{
    position: fixed;
    display: inline-block;
    top: 420px;
    width: 400px;
    height: 400px;
    background: #3a3;
    z-index: 100;
}

.contenedor-sticky{
    position: sticky;
    margin-top: 20px;
    background: #00f;
    height: 300px;
    z-index: 200;
}

.texto p {
    font-size: 40px;
}

.texto{
    display: inline-block;
    height: 500px;
}