.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    margin: 10%;
}

.container > div {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f00;
    border-radius: 10px;
    padding: 5px;
}

.container div .btn-diseño{
    display: flex;
    justify-content: center;
    background-color: #f00;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.container div .btn-diseño a{
    color: #fff;
}

.container div .btn-diseño:hover{
    background-color: #444;
}

.container > div:hover{
    transform: scale(1.05);
}