h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.intro{
    margin:10px 5%;
    font-family: Helvetica, sans-serif;
}

.form__div{
    display:none;
    justify-content: center;
    flex-direction: column;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    background: #009688;
    padding: 2%;
}

.tematica{
    font-size: 30px;
    font-family: serif;
    color: #BDBDBD;
    text-align: center;
}

.pregunta{
    margin: 10px 0;
    display:flex;
    flex-direction: column;
}

.pregunta input{
    /*border-radius: 5px;*/
    border:none;
    padding: 7px;
}

select{
    padding: 7px;
}

select option{
    background: #0a0;
}



input[type="checkbox"] {
    margin-right: auto;
    margin: 5px 5px 0 0;
    transform: scale(1.5);
}

.opcion{
    margin: 5px 0 0 0;
}

.text-question{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#333 ;
}

.active{
    display:flex;
}

.botones{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}

.botones div{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgb(97, 137, 223);
    display:flex;
    align-items: center;
    justify-content: center;
}

.botones div:hover{
    background:rgb(87,127,213);
}

.hidden{
    visibility: hidden;
}

.enviar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="submit"]{
    padding: 9px;
    background: #0a0;
    color: #fff;
    border: none;
}

input[type="submit"]:hover{
    background: #080;
}