a{
    text-decoration: none;
}



.alquileres{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.tabla-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin: 20px 5vw;
    margin-left: auto;
    margin-right:auto;
}

.btn-tabla{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-tabla i{
    padding: 5px 7px;
    border-radius: 50%;
}

.btn-tabla i:hover{
    background-color: #0f0;;
}

.btn-tabla a{
    padding: 5px;
    border-radius: 5px;
    background-color: #0f0;
    border: 1px solid #000;
}

.btn-tabla a:hover{
    background-color: rgb(65, 153, 36);
    cursor: context-menu;
}

.tabla-canchas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


.tabla-canchas tbody tr, thead{
    display: flex;
    justify-content: center;
}

.tabla-canchas tbody td, thead th{
    padding: 5px;
    border: 1px solid #000;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.tabla-canchas tbody tr td:nth-child(2):hover,
.tabla-canchas tbody tr td:nth-child(3):hover,
.tabla-canchas tbody tr td:nth-child(4):hover{
    background-color: rgba(0, 255, 21, 0.473);
}


thead tr{
    display: flex;
    background-color: #ff09;
}

thead{
    flex-direction: column;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.fecha{
    width: 450px;
}

.horarios-tabla{
    visibility: hidden;
    display: none;
}

.mostrar-tabla{
    visibility: visible;
    display: block;
}


