:root{
    --color-naranja: #ef2219;
    --color-gris: #acb8b4;
}

/**************INICIO**************/

.inicio{
  display: flex;
  height: 100vh;
}

.inicio > div > img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
}

.inicio .wpp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 4000;
}

.inicio .wpp a{
    padding: 10px 12px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 40px;
    background-color: #25d366;
    box-sizing: border-box;
}

.inicio .wpp a:hover{
    background-color: #fff;
    border: 2px solid #000;
    padding: 9px 11px;
}

.words-move {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 300px;
  }
  
  .words-move h3 {
    position: absolute;
    color:#fff;
    opacity: 0;
    animation: fade-words 28s infinite;
    font-size: 40px;
    letter-spacing: 5px;
  }
  
  .words-move h3:nth-child(1) {
    animation-delay: 0s;
  }
  
  .words-move h3:nth-child(2) {
    animation-delay: 4s;
  }
  
  .words-move h3:nth-child(3) {
    animation-delay: 8s;
  }
  
  .words-move h3:nth-child(4) {
    animation-delay: 12s;
  }
  
  .words-move h3:nth-child(5) {
    animation-delay: 16s;
  }
  
  .words-move h3:nth-child(6) {
    animation-delay: 20s;
  }
  
  .words-move h3:nth-child(7) {
    animation-delay: 24s;
  }
  
  @keyframes fade-words {
    0% {
      opacity: 0.5;
    }
    7%{
        opacity: 1;
    }
    14% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /**********nosotros**********/

  .nosotros{
    position: relative;
    width: 100vw;
    background-color: #fff;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 10vh 5% 5% 5%;
  }

  .nosotros > div:first-child{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-bottom: 2px solid #f00;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 5px;
  }

  .nosotros > div:nth-child(2){
    font-size: 18px;
  }

  .ubicacion, .horarios{
    padding-top: 5vh;
    
  }

  .ubicacion > div:first-child, .horarios > div:first-child{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }

  .ubicacion > div:first-child i, .horarios > div:first-child i{
    margin-right: 10px;
    font-size: 25px;
    color: #f00;
  }

  .ubicacion > div:first-child i:hover, .horarios > div:first-child i:hover{
    color: #000;
  }

  .ubicacion__maps{
    display: flex;
    justify-content: center;
    max-height: 1000px;
  }

  .horarios__text{
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 200%;
  }

  .oculto{
    display: none;
  }
