:root{
    --color-naranja: #ef2219;
    --color-gris: #acb8b4;
}

html{
  scroll-behavior: smooth;
}

.fondo-oscuro{
  opacity: 0;
}

/****************MENU**************/
nav{
    position: fixed;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    background-color: #0007;
    z-index: 1000;
    top:0;
}

.nav-scroll{
  background-color: #000;
}

nav .logo{
    height: 100%;
    display: flex;
    align-items: center;
}

nav .logo img{
    height: 100%;
    object-fit: cover;
}

.btn-menu{
    display: none;
}

.opciones-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
}

.opciones-menu > a{
    padding: 10px;
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    font-family: sans-serif;
}

.opciones-menu > a:hover{
    background-color: var(--color-gris);
}


/******footer*********/
footer{
    background-color: #000;
    padding: 2% 8%;
    position: relative;
    display: flex;
    width: 100vw;
  }

  footer > div{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .footer__text{
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
  }

  .footer__icons{
    display: flex;
    margin-left: 3%;
  }

  .footer__icons > div{
    color: #fff;
    margin: 20px;
    font-size: 25px;
  }

  .footer__icons > div:hover{
    color: #888;
  }

  .footer__img{
    width: 110px;
    margin-left: auto;
  }

  @media screen and (max-width: 775px){

    .btn-menu{
      display:flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      font-size: 30px;
    }

    .btn-menu:hover{
      color: #666;
    }

    .opciones-menu{
      margin:0;
      display: flex;
      flex-direction: column;
      top:10vh;
      height: 90vh;
      background-color: #000;
      width: 75%;
      position: fixed;
      z-index: 3000;
      left: -1000px;
      transition: left 1s;
      justify-content: flex-start;
      border-right: 1px solid var(--color-gris);
    }

    .opciones-menu-active{
      z-index: 3000;
      left:0;
    }

    .opciones-menu > a{
      width: 100%;
      height: 15vh;
      border-bottom: 0.5px solid var(--color-gris);
      margin:0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .opciones-menu > a:hover{
      background-color: var(--color-gris);
  }
  

    .fondo-oscuro{
      position: fixed;
      content: '';
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.3);
      z-index: 10;
      transition: opacity 3s;
      visibility: hidden;
    }

    .aparecer{
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (max-width: 550px){

    nav .logo img{
      height: 70%;
      object-fit: cover;
    }

    .footer__icons > div{
      font-size: 20px;
    }
  
    .footer__img{
      width: 80px;
    }
  }

  @media screen and (max-width: 400px){
    .footer__img{
      display: none;
    }
  }


