.actividades{
    margin-top: 10vh;
    width: 100vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.actividades__titulo{
    display:flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #f00;
    padding: 0 5% 10px;
}

.actividades__tarjetas{
     display: flex;
     padding-top: 5vh;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.tarjeta{
    display: flex;
    height: 300px;
    min-width: 250px;
    background-color: #C9612E;
    flex-direction: column;
    border-radius: 10px;
    margin: 1%;
    width: 15%;
}

.tarjeta__titulo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD700;
    font-size: 28px;
}

.tarjeta__img{
    display: flex;
    height: 70%;
    border-top: 2px solid #fff;
}

.tarjeta__img > img{
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.tarjeta:hover{
    transform: scale(0.98);
    border: 2px solid #ff0;

}



/********galeria********/

.galeria-deporte{
    display: flex;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.galeria-deporte__div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-deporte__img{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.galeria-deporte img{
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


.galeria__img{
    display: none;
    position: absolute;
    transition:transform 0.6s ease, filter 1s;
}

.galeria__img-left, .galeria__img-right {
    display: flex;
    z-index:50;
    filter: grayscale(1);
    opacity: 0.5;
}

.galeria__img-left{
    transform: scale(0.7) translateX(-200px);
}

.galeria__img-right{
    transform: scale(0.7) translateX(200px);
}

.galeria__img-active{
    display: flex;
    z-index: 100;
    border:1px solid #000;
}

.galeria-deporte i{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 20px;
    font-size: 30px;
}

.galeria-deporte i:hover{
    background-color: #6666;
   /* border: 1px solid #f00;
    padding: 4px 7px;*/
}

/**********info deportes************/

.actividades__info{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
}

.info__deporte{
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #9999;
}

.info__deporte h3{
    text-align: center;
    font-size: 43px;
    color: #ef2219;
}
.info__deporte__titulo{
    display: flex;
    justify-content: center;
}
.info__deporte__titulo i{
    color: #000;
    font-size: 30px;
    width: 30px;
}

.info__deporte-contactos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.info__deporte-contactos div{
    margin-top: 7px;
    font-size: 16px;
}

.info__deporte-contactos div i{
    color: #0f0;
    margin-right: 7px;
}

.info__deporte-contactos div:hover{
    color:#666;
}

.info__deporte .text-deporte{
    font-size: 18px;
}

/*********************responsive*************/
@media screen and (max-width:1540px){

    .tarjeta{
        margin-right: 1%;
        margin-left: 1%;
        min-width: 200px;
        height: 250px;
    }
}

@media screen and (max-width: 1235px){
    
    .tarjeta{
        margin-right: 3.6%;
        margin-left: 3.6%;
    }
}

@media screen and (max-width: 850px){
    .tarjeta{
        margin-right: 3%;
        margin-left: 3%;
        min-width: 150px;
        height: 200px;
    }
}

@media screen and (max-width: 650px){

    .info__deporte{
        margin-top: 50px;
    }

    .galeria-deporte__img{
        width: 360px;
        height: 250px;
    }
    
    .galeria-deporte img{
        width: 200px;
        height: 200px;
    }
    
    .galeria__img-left{
        transform: scale(0.7) translateX(-150px);
    }
    
    .galeria__img-right{
        transform: scale(0.7) translateX(150px);
    }

    .galeria-deporte i{
        margin: 0 10px;
        font-size: 25px;
    }

    .info__deporte .text-deporte{
        font-size: 16px;
    }
}

@media screen and (max-width: 470px){

    .galeria-deporte__img{
        width: 250px;
        
    }
    
    .galeria-deporte img{
        width: 150px;
        height: 150px;
    }
    
    .galeria__img-left{
        transform: scale(0.7) translateX(-100px);
    }
    
    .galeria__img-right{
        transform: scale(0.7) translateX(100px);
    }

    .galeria-deporte i{
        margin: 0 5px;
        font-size: 20px;
    }

    /******tarjetas********/

    .tarjeta{
        height: 100px;
        min-width: 100px;
        margin: 1%;
    }
    
    .tarjeta__titulo{
        font-size: 18px;
    }

}