:root{
    --color-naranja: #ef2219;
    --color-gris: #acb8b4;
}

*{
    text-decoration: none;
    list-style: none;
}

nav{
    height: 80px;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}

.img-menu{
    height: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    margin:0 5px;
}

nav ul li a{
    font-size: 18px;
    padding: 7px 13px;
}

li a:hover{
    background:var(--color-naranja);
    color: #fff;
}

#check{
    display: none;
}

.checkbtn{
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/*fondo---------------------*/
.section__img{
    width: 100vw;
    height: auto;
}

.tenis {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-deporte{
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
    font-family: 'Abel', sans-serif;
}

.subtitulo{
    padding: 10px 0;
    margin: 10px 5px;
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}

@media screen and (max-width: 850px) {

    nav{
        padding: 0 30px;
    }
    .checkbtn{
        display: flex;
    }

    nav ul{
        position: absolute;
        height: calc(100vh - 80px);
        top: 80px;
        background: var(--color-gris);
        z-index: 100;

        width: 100%;
        flex-direction: column;
        left:-100%;
        transition: left .6s;
    }

    nav ul li{
        align-self: center;
        margin: 25px 0;
        transition: transform .4s;
    }

    nav ul li:hover{
        transform: scale(1.2);
        text-transform: uppercase;
    }

    nav ul li a:hover{
        color: var(--color-naranja);
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}
 